# Use PHP54 Single php.ini as default
# Changed PHP handler from application/x-httpd-php54s to application/x-httpd-phpbetas on Fri Dec 18 11:09:39 MST 2015.
AddHandler application/x-httpd-phpbetas .php
